[
  { "name": "Physionic",                      "channel_id": "UCj3p_1jOCJXB_L_we-DjLbA" },
  { "name": "Doctor Alex",                    "channel_id": "UCGLAPJjQh7ege-N08u_GZrg" },
  { "name": "Dr Brad Stanfield",              "channel_id": "UCpcvPcHJVOkO9Qp79BOagTg" },
  { "name": "Finshots T",                     "channel_id": "UC8uj-UFGDzAx3RfPzeRqnyA" }
]
